.cg-logo {
  height: 60px;
}

.cg-logo-label {
  font-size: 1.5rem;
  color: #444;
  height: 100%;
  float: left;
  padding-top: .55rem;
}

.cg-logo-label-title {
  text-decoration: none;
  color: inherit;
}

.cg-logo-label-subtitle {
  font-size: .9rem;
  color: rgba(#000, .7);
}

.cg-logo-icon {
  float: left;
  margin-right: 1.5rem;

  > img {
    width: 60px;
    height: 60px;
  }
}
