$sidebar-width: 325px;
$sidebar-bg: #fff;

.cg-sidebar-toogle {
  border: 1px solid $border-color;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: $box-shadow;
  text-decoration: none;
  background-color: #fff;
  transition: all .2s;
  padding: .4rem;

  &:hover {
    background-color: rgba($border-color, .1);
  }

  &:active {
    background-color: #f8f9fa;
    box-shadow: inset $box-shadow;
    color: #4e5860;
  }

  &.toggle-on {}

  @media (min-width: 960px) {
    display: none;
  }
}

.cg-sidebar {
  width: $sidebar-width;
  float: left;
  height: 100%;
  position: relative;

  transition: all .2s;
  margin-left: -$sidebar-width;

  background-color: $sidebar-bg;
  border-right: 1px solid $border-color;

  &.is-visible {
    margin-left: 0;
  }

  @media (min-width: 960px) {
    margin-left: 0;
  }
}

.cg-sidebar-header {
  position: relative;
  z-index: 1;

  padding: 1.5rem 1rem 0;

  border-bottom: 1px solid darken($sidebar-bg, 10%);
  box-shadow: $box-shadow;

  > * {
    margin-bottom: 1.5rem;
  }
}

.cg-sidebar-body {
  position: relative;
  z-index: 0;
  overflow-y: scroll;
  height: 100%;

  // clear header + footer space
  padding-bottom: 20rem;
}

.cg-sidebar-footer {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: $sidebar-width - 1px;

  padding: 1rem;

  text-align: center;
  font-size: .9rem;
  color: rgba(#000, .7);
  background-color: #fff;
  border-top: 1px solid darken($sidebar-bg, 10%);
  box-shadow: 0 -3px 1px -1px $box-shadow-color;
}
