// API variables
$primary-color: #ef7c00;
$border-color: #d9e0e2;
$box-shadow: 0 2px 2px -1px rgba(#000, .05);

// resets
html {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 100%;
  font-family: Roboto;
  line-height: 1.6rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// utility classes
.flex {
  flex: 1;
}
