// Inspired by http://thenextweb.com/
// http://www.google.com/design/spec/layout/principles.html#
// https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/Closures.html#//apple_ref/doc/uid/TP40014097-CH11-XID_151

// +-------------------------------------------------------------------+
// |  Resets
// +-------------------------------------------------------------------+
@import 'framework/normalize';

// +-------------------------------------------------------------------+
// |  Framework
// +-------------------------------------------------------------------+
@import 'framework/api';         // Public API variables
@import 'framework/mixins';      // Mixin helpers
@import 'framework/typography';
@import 'framework/basics';

// +-------------------------------------------------------------------+
// |  Components
// +-------------------------------------------------------------------+
@import 'components/button-group';

// +-------------------------------------------------------------------+
// |  Regions
// +-------------------------------------------------------------------+
@import 'regions/sidebar';
@import 'regions/logo';

html {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .9rem;
}

thead {
  border-bottom: 2px solid $border-color;
}

th {
  text-align: left;
}

td,
th {
  border: 1px solid $border-color;
  padding: .5rem;
}

tr:nth-child(even) {
  background-color: lighten($border-color, 10%);
}

.cg-content {
  background-color: $background-color;
  height: 100%;
  overflow-y: auto;
}

.cg-main {
  background-color: #fff;
  border: 1px solid #d9e0e2;
  border-radius: 2px;
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem 3rem;
  width: 98%;
}

.cg-list {}

.cg-list-item {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid $border-color;
  text-decoration: none;

  &:hover {
    background-color: rgba($border-color, .2);
  }

  &.current {
    background-color: rgba(#000, .05);
  }
}
