<!DOCTYPE html>
<html>
{% include head.html %}

<body>

  <aside class="cg-sidebar">
    <div class="cg-sidebar-header">
      <div class="cg-logo">
        <div class="cg-logo-icon">
          <img src="{{ '/assets/img/cg-logo.svg' | prepend: site.baseurl }}">
        </div>
        <div class="cg-logo-label">
          <a href="/" class="cg-logo-label-title">Clinical Genomics</a>
          <div class="cg-logo-label-subtitle">a SciLifeLab facility</div>
        </div>
      </div>

      <div class="cg-sheet ticket-sheet">
        <a href="https://clinical-scilifelab.supportsystem.com/open.php"
           class="cg-sheet-button">
          Öppna ny ticket
        </a>
        <a href="https://clinical-scilifelab.supportsystem.com/view.php"
           class="cg-sheet-button">
          Kontrollera ticketstatus
        </a>
      </div>
    </div>
    <div class="cg-sidebar-body">
      <div class="cg-list">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url %}
            {% assign current = 'current' %}
          {% endif %}

          <a href="{{ link.url }}" class="cg-list-item {{ current }}">
            {{ link.label }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="cg-sidebar-footer">
      &copy; SciLifeLab 2015
    </div>
  </aside>

  <main class="cg-content">
    <div class="cg-main">
      <div class="cg-sidebar-toogle">Meny</div>

      {{ content }}
    </div>
  </main>

  {% unless site.ga_id == nil or site.ga_id == empty %}

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.ga_id }}', '{{ site.ga_host }}');
      ga('send', 'pageview');

    </script>

  {% endunless %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>

  {% unless site.develop == nil %}
  <script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.7.2.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
//]]></script>
  {% endunless %}

</body>
</html>
